

#extStyle {
	color: rgb(255,255,0);
}

*{
	font-family: "Verdana",sans-serif; font-size: 20px;

}

h1 {
	font-size: 3rem;
}

#phrase1 {
	text-transform: uppercase !important;

}

.language{
	background-color: rgb(144,238,144);

}

.tools {
	border-color:rgb(0, 0, 255) ;
	border-width: 2px;
	border-style: solid;


}

img + ul {

	list-style-type: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

ul > li{
	letter-spacing: 10px;
}